:root {
    --font-family-main: "PT-Sans", "Times New Roman", serif;

    /* Sizes */

    /* s */
    --font-size-s: 14px;
    --font-line-s: 18.12px;

    /* m */
    --font-size-s: 20px;
    --font-line-s: 30px;

    /* l */
    --font-size-l: 56px;
    --font-line-l: 67.2px;

    /* xl */
    --font-size-xl: 200px;
    --font-line-xl: 160px;
}
